<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kesha Rejepow</title>
    <link rel="stylesheet" href="{% static 'css/style/style.css' %}">
    
    <link rel="icon" type="image/x-icon" href="{% static 'images/img/logo_circle-1.png' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
<link href="{% static 'css/css2-2.css?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap' %}" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
<link href="{% static 'css/css2-3.css?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' %}" rel="stylesheet">
</head>



<body>
    <div class="wrapper">
        <div class="header_text">
            <h1>BEÝLEKILERIŇ SIZE <span> LOMAÝ </span>SÖWDA HAKDA AÝTMAJAK 25 ZADY..</h1>
        </div>
        <div class="banner">
            <img src="{% static 'images/img/1.jpg' %}" alt="Image">
        </div>
        <div class="header_text_2" id="header">
            <h1>GIJÄ GALMADA <span> LOMAÝ </span>SÖWDA BAŞLA!
            </h1>
        </div>
        <ul class="list">
            <li><img src="{% static 'images/img/tick.png' %}" alt="Tick">Kesha Rejepow Lomaý söwda başla.</li>
            <li><img src="{% static 'images/img/tick.png' %}" alt="Tick">Onlaýn iň arzan bahadan sargyt et.</li>
            <li><img src="{% static 'images/img/tick.png' %}" alt="Tick">Seniň isleýän ähli harydyňy biz getireli.</li>
        </ul>
        <div class="img" id="iframe">
            <img src="{% static 'images/img/yone.png' %}">
        </div>
        <div class="signin">
            <iframe width="100%" height="450" src="https://ofis.yonekey.com/forms/wtl/3414866f7f1a910a56ef0f2af5596aae" frameborder="0" sandbox="allow-top-navigation allow-scripts allow-forms allow-same-origin" allowfullscreen></iframe>
        </div>
        <div class="header_text_3">
            <span></span>TÜRKMENISTANDA IÑ AMATLY LOMAÝ SÖWDA BAZARY
        </div>
        <div class="avatar">
            <img src="{% static 'images/img/12.png' %}" alt=""><img src="{% static 'images/img/123.png' %}" alt=""><img src="{% static 'images/img/1234.png' %}" alt="">
        </div>
        <div class="container_p">
            <p>Yonekey lomaý söwda internet platformasy Turkmenistanyñ islendik lomaý dükanlaryndan yokary derejeli hili we amatly bahasy bilen alyjynyñ ünsüni çekýär. Bizde siz göwnüñize ýarajak we islegleriñizi kanagatlandyrjak islendik brenddaky we görnüşdäki harytlary, ýagny gözellik serişdelerinden başlap tehniki enjamlaryna çenli ylalaşykly bahadan satyn alyp bilersiňiz. Bellenen wagtyñ içinde çalt we bitewilikde yurdumyzyñ ähli welaýatlaryna we şäherlerine eltip bermek hyzmaty bilen üpjün edilersiñiz.</p>
            
        </div>
        <a href="#iframe" class="footer_button" onclick="focusTo()">
            <div class="button_text">
                MUGT REGISTRASIÝA ET ŞUWAGT
                <div class="button_text_p">Öwren Kesha Rejepow bilen & Oturan ýeriňde</div>
            </div>
        </a>

        </div>
    
    <footer>
        <div class="footer_container">
                <img src="{% static 'images/img/kesha_logo-1.png' %}" alt="">
                <p>Üstünlik zähmetiň, bilimiň we çydamlylygyñ netijesidigine ynanýarys. Berlen mysallar adaty bolmak üçin niýetlenen däldir we netijeler hiç haçan kepillendirilmeýär. Berilýän maglumatlar diňe bilim maksatly bolup, kanuny ýa-da maliýe maslahatyny düzmeýär. Bu web sahypasyny ýa-da oňa bagly islendik materialy ulanmak bilen, öz netijeleriňiz üçin doly jogapkärçiligi öz üstüňize alýarsyňyz.</p>
                <p>Biziň komandamyz sizi goldamak maksady bilen bu ýerde, ýöne siz  inwestisiýa we risk etmezden öñ seresaplylygy berjaý etmelisiñiz.
                    Üstünlik - bu siziñ borjuñyz we jogapkärçiligiñizdir. 
                    
                    Ähli hukuklar goragly.</p>
         </div>
    </footer>
    <script>
        function focusTo() {
            document.getElementById('input').focus()
        }
    function focusNomer() {
        document.querySelector("#nomerTel").value = "+"
    }
    </script>
    
     <a href="satuw.html" class="h_d_i">salam</a>
</body>
</html>